<div class="container-fluid">
    <form [formGroup]="productInfoFormGroup" (ngSubmit)=submitProduct()>
        <!--Product Info Form Group-->
        <div formGroupName="product" class="form-area">
            <h3>Product</h3>
            <input formControlName="id" type="hidden">
            <div class="row">
                <div class="col-md-2"> <label>Product Name</label></div>
                <div class="col-md-9">
                    <div class="input-space">
                        <input formControlName="name" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"> <label>Description</label></div>
                <div class="col-md-9">
                    <div class="input-space">
                        <input formControlName="description" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"> <label>Main Product Image</label></div>
                <div class="col-md-9">
                    <div class="input-space">
                        <input type="file" (change)="onMainProductImageSelect($event)">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"> <label>Addtitional Images</label></div>
                <div class="col-md-9">
                    <div class="input-space">
                        <input type="file" (change)="onAdditionalImagesSelected($event)" multiple>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"> <label>Price</label></div>
                <div class="col-md-9">
                    <div class="input-space">
                        <input formControlName="price" type="number" min="1" step="any">
                    </div>
                </div>
            </div>
        </div>

        <!--Category -->
        <div formGroupName="category" class="form-area">
            <div class="col-md-2"><label>Category</label></div>
            <div class="col-md-9">
                <select formControlName="categoryId" (change)="onCategoryChange(categories[$event.target.value[0]-1].categoryId)">
                    <option disabled>Select Category</option>
                    <option *ngFor="let category of categories" [ngValue]="category.categoryId">{{category.name}}</option>
                </select>
            </div>
        </div>

        <!--Stock Form Group-->
        <div formGroupName="stock" class="form-area">
            <div class="row">
                <div class="col-md-2"><label>Stock</label></div>
                <div class="col-md-9">
                    <div class="input-space">
                        <input formControlName="productId" type="hidden">
                        <input formControlName="stock" type="number">
                    </div>
                </div>
            </div>
        </div>
        <!--Submit Buttom-->
        <div class="text-center">
            <button routerLink="/products" class="btn btn-danger">Cancel</button>
            &nbsp;
            <button type="submit" class="btn btn-info">Save</button>
        </div>
    </form>
</div>
